.main-menu {
    padding: 30px 230px;
    font-size: 1em;
}

.filters-container {
    display:block;
}

.img-grid {
    width: 66.666%;
}

.meme-container {
    flex-direction: row;
}

.meme-controls {
    width: 40%;
}

.img-grid>img{
    grid-column: span 4;
    grid-row: span 4;
}

.social li {
    /* width: 25px; */
    /* padding: 12.5px; */
    padding: 12.5px;
}

.about-img{
    width: 30.333%;
}

.about-info{
    width: 66.666%;
    /* height: 297px; */
    /* position: relative; */
}
