
<<<<<<< HEAD
=======
.social li {
    padding: 12.5px;
}

.main-menu {
    background-color: #323232;
    height: 90px;
    position: static;
}

.hamburger {
    display: none;
}

ul{
    display: flex;
    flex-direction: row;
} 

.main-menu > ul> li{
    padding: 0;
    display: block;
}
>>>>>>> e5a0f7b6f3e261e7791dd216cc9796ebb0e574d8
